/*FONTS*/

@import url('http://fonts.googleapis.com/css2?family=Opera+Sans :wght@700&display=swap');/*bold*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');/*medium*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');/*Regular*/

/*FONTS End*/


/*COLORS*/

:root{
  --colorDefaualt:#ffff00;
  --whiteColor:#ffffff;
} 

/*COLORS End*/





/*LOADER*/

.loading{
    margin: 0 auto;
    position: fixed;
    background-color: var(--whiteColor);
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: fadeOut 1s;
    animation-fill-mode: forwards ;
    -webkit-animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards ;
    -o-animation: fadeOut 1s;
    -o-animation-fill-mode: forwards ;
    -moz-animation: fadeOut 1s;
    -moz-animation-fill-mode: forwards ;
}

.main{
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}



.dot2{
    border: 5px solid var(--colorDefaualt);
    border-radius: 50px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin:-5px -5px;
    border-left-color: transparent;
    border-top-color:transparent ;
    animation: loader 1s linear;
    animation-iteration-count: infinite;
    -webkit-animation: loader 1s linear;
    -webkit-animation-iteration-count: infinite;
    -o-animation: loader 1s linear;
    -o-animation-iteration-count: infinite;
    -moz-animation: loader 1s linear;
    -moz-animation-iteration-count: infinite;

    


}

.dot{
    border:5px solid #000000;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}


@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
    
} 

@-webkit-keyframes loader{
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;
    }
}


/*LOADER END*/




/*HTML*/
.html{
    scroll-behavior: smooth;
}

/*HTML End*/



/*NAVBAR*/

.navbar{
    background-color:   ;
    transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;

}  
 #nav.fixed{
    background-color: blue !important;
    padding: 0;
     
}
  .navbar-brand{
    font-size: 1.7rem;
    color: var(--colorDefaualt)!important;
    padding-left: 6rem;
}
.navbar-nav{
    margin: 0 5rem auto;
}
.navbar-nav > li{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 15px;
 
  
}
 .nav-link{
    color: var(--whiteColor)!important;
     
    
 }

.nav-link :hover{
    color: var(--colorDefaualt)!important;
     transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

/*NAVBAR End*/



/*HOME*/

.home{
    background: url(./Imegs/photo_2020-10-07_20-32-19.jpg) no-repeat ;
    background-size : cover;
    height: 50rem;
}
 .col-md-6{
  margin: 30% auto;
 }
  .titles > p{
            font-size: 1.5rem;
            text-align: center;
            color:var(--whiteColor)
            margin-bottom: 0 ;
            font-family:'Lato',sans-serif;
 }
 .titles > h3{
  font-size: 3.5rem;
  text-align: center;
  color: var(--whiteColor);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;}
   
   .button{
  width: 100%;
  margin: 3rem 10rem;
 }

  .button>a:hover{

    
  }
 .button > a{
            background-color:var(--colorDefaualt);
            color: #000000;
            padding: 1.5rem 4rem;
            border-radius:10px;
            font-size: 1.3rem;
            font-weight: 500;
            text-decoration: none;
            font-family:'Roboto';
 }
 @media screen and (max-width: 400px)
 
.home > .container > .row > .col .anim-typewriter {
    .position: relative;
    .top: 10%;
    .left: 1.5%;
    font-weight: 400;
    letter-spacing: 0.7px;
    .width: 18rem;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    .transform: translateY(-50%);
    .margin: 0px auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    .overflow: hidden;
}

 /*HOME End*/



/*SERVICES section*/

.services{
    padding: 5rem 0 5em;
}





.services > .container > .h3{
    font-size: 4rem;
    text-transform: uppercase ;
    font-family:'Roboto', sans-serif;
}


 .services > .container  > .row > .col-md-4 > .card{
            border: 10px;
            border-radius: 0;
    }
    .services > .container  > .row > .col-md-4 > .card > .card-header{
            text-align: center;
            border-bottom: none;
            background-color: transparent;
    }
    .card > .card-header > i{
            font-size: 4rem;
            background-color: var(--colorDefaualt);
            padding: 2rem;
            border-radius: 50px;
    }
    .card > .card-body{
        text-align: center;
    }




    /*PORTFOLIO section*/

    .portfolio{
        padding: 5rem 0 5rem;
    }
   
    .col-md-4 > .card  > .card-header > img {
        width:10px ;
        height: 10px;
    }
    .card{
        border: none;
        border-radius: 0;
    }
.card > .card-header{
    padding: 0px;
    background-color: transparent;
    border-radius: 0;
}
.card-header > .overlay{
    width: 350px;
    height: 190px;
    background: #ffff00cf;
    opacity: 0 ;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.overlay:hover{
    opacity: 1;

}

.overlay > h4{
   
    border: 2px solid silver;
    display:  block;
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    
   transition: none;
}
 .overlay > p{
        text-align: center;

 }    


 /*PORTFOLIO section*/

 .about{
     padding: 5rem 0 5rem;
 }
.about > .container > h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
}
.info > li{
    margin-left: 3rem 3rem;
}
.info > ul >li{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
ul > li > .secondSpan{
    color: #808080;
    font-family:'Roboto', sans-serif; 
}




/*FOOTER section*/

 .footer{
     background-color:#0a2a58;
     padding: 1rem;
 }
.social-networks > a > i:hover{
    background-color: #000000 !important;
    color: var(--colorDefaualt);
}

/*RESPONSIVE*/
 